.btn2 {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    opacity: 1;
    background: transparent;
}
.btn3 {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    opacity: 1;
    background: #245269;
    margin:5px;
    color: whitesmoke;
}
#messages .chat-bubble2 {
    /*top: 600px;*/
    opacity: 1;
    background: transparent;
    width: 62%;
    margin-bottom: 10px;
    padding: 2.5%;
    border-radius: 10px;
    position: relative;
    font-size: 15px
}

.bottoni{
    list-style-type: none;
    display: inline-block;
    margin: 0px;
}